# FastAPI / DB
DB_AUTO_CREATE=1
SQLALCHEMY_ECHO=1

# Gateway
DATABASE_URL=postgresql+asyncpg://yapit:yapit@postgres:5432/yapit
REDIS_URL=redis://redis:6379/0
CORS_ORIGINS=http://localhost:5173
# TODO decide on using either just env file or just vars in compose yml for this