services:
  gateway:
    ports:
      - "8000:8000"
  redis:
    ports:
      - "6379:6379"
  stack-auth:
    ports:
      - "8101:8101"
      - "8102:8102"
  postgres:
    volumes:
      - "./dev/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql"
