services:
  gateway:
    env_file:
      - ./.env.prod
      - ./.env.dev
      - ./.env
    environment:
      ENV_FILE: .env.dev
    ports:
      - "8000:8000"
    volumes:
      - "./tts_processors.dev.json:/app/tts_processors.dev.json"
      - "./document_processors.dev.json:/app/document_processors.dev.json"
      - "./yapit:/app/yapit:ro"
    command: ["uvicorn", "yapit.gateway:create_app", "--factory", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    
  stack-auth:
    env_file: ./.env.dev
    ports:
      - "8101:8101"
      - "8102:8102"
      
  redis:
    ports:
      - "6379:6379"
      
  postgres:
    env_file: ./.env.dev
    ports:
      - "5432:5432"
    volumes:
      - "./dev/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql"

  stripe-cli:
    image: stripe/stripe-cli:latest
    command: listen --forward-to http://gateway:8000/v1/billing/webhook --api-key ${STRIPE_SECRET_KEY}
    env_file:
      - ./.env
    depends_on:
      - gateway