services:
  gateway:
    env_file:
      - ./.env.prod
      - ./.env.dev
      - ./.env.local
    environment:
      ENV_FILE: .env.dev
    ports:
      - "8000:8000"
    volumes:
      - "./tts_processors.dev.json:/app/tts_processors.dev.json"
    
  stack-auth:
    env_file: ./.env.dev
    ports:
      - "8101:8101"
      - "8102:8102"
      
  redis:
    ports:
      - "6379:6379"
      
  postgres:
    env_file: ./.env.dev
    volumes:
      - "./dev/init-db.sql:/docker-entrypoint-initdb.d/init-db.sql"