name: CI

on:
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Ruff linter
        uses: astral-sh/ruff-action@v3

      - name: Prepare .env for docker compose
        run: cp .env.dev.example .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build cpu image, gateway
        run: docker compose build --parallel kokoro-cpu gateway

      - name: Start stack
        run: docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d gateway redis postgres

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version-file: ".python-version"
          enable-cache: true

      - name: Install test deps
        run: uv sync --locked --extras test

      - name: Run tests
        run: uv run pytest tests
