name: CI

on:
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint
        uses: astral-sh/ruff-action@v3

      - name: Prepare .env
        run: cp .env.dev.example .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Build cpu worker image, gateway
      #   run: docker compose build --parallel kokoro-cpu gateway

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version-file: "pyproject.toml"
          enable-cache: true

      - name: Create uv venv
        run: uv venv

      - name: Install dependencies
        run: uv pip install ".[gateway,test]"

      - name: Run tests
        run: uv run --no-sync pytest tests  # no-sync to prevent uv from trying to resolve all extra deps together
