name: Integration Tests

on:
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create empty .env.prod for Docker Compose
        run: touch .env.prod

      - name: Build
        run: make dev-cpu

      - name: Run integration tests
        run: make test-integration