name: Integration Tests

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version-file: "pyproject.toml"
          enable-cache: true

      - name: Create uv venv
        run: uv venv

      - name: Install test dependencies
        run: uv pip install ".[test]"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create env files for Docker Compose
        run: |
          touch .env.prod
          echo "RUNPOD_API_KEY=${{ secrets.RUNPOD_API_KEY }}" > .env
          echo "MISTRAL_API_KEY=${{ secrets.MISTRAL_API_KEY }}" >> .env
          echo "TTS_PROCESSORS_FILE=tts_processors.ci.json" >> .env
          echo "KOKORO_CPU_REPLICAS=1" >> .env

      - name: Build
        run: make dev-ci

      - name: Show container logs on failure
        if: ${{ failure() }}
        run: |
          docker compose logs gateway
          docker compose logs stack-auth
          docker compose logs kokoro-cpu
          docker compose ps -a

      - name: Run integration tests
        run: make test-integration-local # temporarily using local tests

