name: Lint

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint
        uses: astral-sh/ruff-action@v3