name: Unit Tests

on:
  pull_request:
    paths-ignore:
      - 'notes/**'
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
      - '**/*.txt'
      - '**/*.ipynb'

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv & Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version-file: "pyproject.toml"
          enable-cache: true

      - name: Create uv venv
        run: uv venv

      - name: Install dependencies
        run: uv pip install ".[gateway,test]"

      - name: Run unit tests
        run: uv run --no-sync pytest tests --ignore=tests/integration -m "not mistral and not runpod"  # no-sync to prevent uv from trying to resolve all extra deps together